#calendar-container {
  background-color: #ffffff;
  padding: 1rem;
  border-radius: 0.75rem;
  box-shadow: 0 0.125rem 0.25rem rgba(0, 0, 0, 0.075);
  transition: box-shadow 0.3s ease-in-out;

  &:hover {
    box-shadow: 0 0.25rem 0.75rem rgba(0, 0, 0, 0.1);
  }

  #calendar {
    max-width: 100%;
    margin: 0 auto;
  }
}

.modal-content {
  border-radius: 1rem;
}

.modal-header,
.modal-footer {
  background-color: #f8f9fa;
}

.btn-primary {
  background-color: #5d87ff;
  border-color: #5d87ff;

  &:hover {
    background-color: #476de0;
    border-color: #476de0;
  }
}

.color-circle {
  width: 28px;
  height: 28px;
  border-radius: 50%;
  cursor: pointer;
  border: 2px solid transparent;
  transition: transform 0.2s ease;
  display: inline-block;
}

.color-circle:hover {
  transform: scale(1.1);
}

.color-circle.selected {
  border: 3px solid #333;
  box-shadow: 0 0 0 2px #fff;
}


body {
  background-color: red !important;
}


