<div class="layout-topbar" [ngClass]="{ 'shadow-md': isScrolled }">
  <div class="layout-topbar-logo-container flex items-center">
    <button
      class="layout-menu-button layout-topbar-action"
      (click)="layoutService.onMenuToggle()">
      <i class="pi pi-bars"></i>
    </button>
    <div class="search-container ml-4">
      <div class="flex items-center">
        <input
          type="text"
          pInputText
          class="w-64 pl-60"
          placeholder="Buscar..."
          [(ngModel)]="searchText"
          (input)="onSearch()" />
      </div>
    </div>
  </div>

  <div class="layout-topbar-actions flex items-center">
    @if (showCardSelector) {
      <div class="relative">
        <button
          class="layout-topbar-action"
          (mouseenter)="showCardSelectorMenu()">
          <i class="pi pi-th-large"></i>
        </button>
        <div
          class="card-selector-container hidden absolute right-0 mt-2 z-50"
          (mouseleave)="hideCardSelectorMenu()">
          <app-card-selector
            (cardsChanged)="onCardsChanged($event)"></app-card-selector>
        </div>
      </div>
    }
    <div class="layout-config-menu">
      <p-menu #styleMenu [popup]="true" [model]="styleMenuItems"></p-menu>
      <button
        type="button"
        class="layout-topbar-action"
        (click)="showStyleMenu($event)">
        <i class="pi pi-palette"></i>
      </button>
    </div>

    <button
      class="layout-topbar-menu-button layout-topbar-action"
      pStyleClass="@next"
      enterFromClass="hidden"
      enterActiveClass="animate-scalein"
      leaveToClass="hidden"
      leaveActiveClass="animate-fadeout"
      [hideOnOutsideClick]="true">
      <i class="pi pi-ellipsis-v"></i>
    </button>

    <div class="border-l border-gray-300 h-5"></div>
    <div class="layout-topbar-menu hidden lg:block">
      <div class="layout-topbar-menu-content">
        <button
          type="button"
          class="layout-topbar-action"
          (mouseenter)="showProfileMenu($event)">
          <img
            class="w-11 h-11 rounded-full object-contain"
            src="assets/layout/img/hombre.png"
            alt="Profile" />
          <span>Profile</span>
        </button>
        <span class="text-md text-gray-500 justify-center content-center"
          >Juan Perez</span
        >
        <p-menu
          #profileMenu
          [popup]="true"
          [model]="profileMenuItems"
          (mouseleave)="profileMenu.hide()"></p-menu>
      </div>
    </div>
  </div>
</div>

<div class="flex align-items-center gap-2">
  <p-menu #styleMenu [popup]="true" [model]="styleMenuItems"></p-menu>
  <button
    pButton
    type="button"
    icon="pi pi-palette"
    (click)="showStyleMenu($event)"
    class="p-button-rounded p-button-text"></button>
  <button
    pButton
    type="button"
    icon="pi pi-user"
    (click)="showProfileMenu($event)"
    class="p-button-rounded p-button-text"
    pTooltip="Perfil"
    tooltipPosition="bottom"></button>
  <p-menu #profileMenu [popup]="true" [model]="profileMenuItems"></p-menu>
</div>
