<div class="layout-topbar">
  <div class="layout-topbar-logo-container">
    <button
      class="layout-menu-button layout-topbar-action"
      (click)="layoutService.onMenuToggle()">
      <i class="pi pi-bars"></i>
    </button>
  </div>

  <div class="layout-topbar-actions">
    <div class="layout-config-menu">
      <button
        type="button"
        class="layout-topbar-action"
        (click)="toggleDarkMode()">
        <i
          [ngClass]="{
            'pi ': true,
            'pi-moon': layoutService.isDarkTheme(),
            'pi-sun': !layoutService.isDarkTheme(),
          }"></i>
      </button>
      <div class="relative">
        <button
          class="layout-topbar-action layout-topbar-action-highlight"
          pStyleClass="@next"
          enterFromClass="hidden"
          enterActiveClass="animate-scalein"
          leaveToClass="hidden"
          leaveActiveClass="animate-fadeout"
          [hideOnOutsideClick]="true">
          <i class="pi pi-palette"></i>
        </button>
        <app-configurator />
      </div>
    </div>

    <button
      class="layout-topbar-menu-button layout-topbar-action"
      pStyleClass="@next"
      enterFromClass="hidden"
      enterActiveClass="animate-scalein"
      leaveToClass="hidden"
      leaveActiveClass="animate-fadeout"
      [hideOnOutsideClick]="true">
      <i class="pi pi-ellipsis-v"></i>
    </button>

    <div class="layout-topbar-menu hidden lg:block">
      <div class="layout-topbar-menu-content">
        <button type="button" class="layout-topbar-action">
          <i class="pi pi-calendar"></i>
          <span>Calendar</span>
        </button>
        <button type="button" class="layout-topbar-action">
          <i class="pi pi-inbox"></i>
          <span>Messages</span>
        </button>
        <button
          type="button"
          class="layout-topbar-action"
          (click)="profileMenu.toggle($event)">
          <img
            class="w-11 h-11 rounded-full object-cover"
            src="assets/layout/img/perfil3.jpg"
            alt="Profile" />
          <span>Profile</span>
        </button>
        <p-menu #profileMenu [popup]="true" [model]="profileMenuItems"></p-menu>
      </div>
    </div>
  </div>
</div>
