<div class="card news-card mb-0 overflow-hidden">
  <div class="news-image-container h-5/6 relative">
    <div class="carousel-container">
      @for (item of news; track item.title) {
        <div class="carousel-slide" [class.active]="currentIndex === $index">
          <img [src]="item.image" [alt]="item.title" class="news-image" />
          <div class="carousel-content">
            <p class="text-white text-lg font-semibold">
              {{ item.description }}
            </p>
          </div>
        </div>
      }
      <div class="flex items-center gap-2">
        <app-card-controls> </app-card-controls>
        <app-menu-item> </app-menu-item>
      </div>
    </div>
    <div class="carousel-controls">
      <button class="carousel-button prev" (click)="prevSlide()">
        <i class="pi pi-chevron-left"></i>
      </button>
      <button class="carousel-button next" (click)="nextSlide()">
        <i class="pi pi-chevron-right"></i>
      </button>
    </div>
  </div>
  <br />
  <div class="flex items-center flex-col sm:flex-row pl-2">
    <p-tag
      severity="info"
      [value]="news[currentIndex].tag"
      styleClass="m-1"></p-tag>
  </div>
</div>
