@use './tailwind.css';
@use './assets/layout/layout.scss';
@use 'primeicons/primeicons.css';
@use './assets/demo/demo.scss';

* {
  font-family: 'Poppins', sans-serif;
}

html,
body {
  font-family: 'Poppins', sans-serif;
}

.text-primary {
  color: #000000 !important;
}
